<form class="" action="/rps_input" method="get">
  <div class="form-group">
    <label for="play1">Player 1</label>
    <select id="play1" name="play1">
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissor">scissor</option>
    </select>
  </div>
  <div class="form-group">
    <label for="play2">Player 2</label>
    <select id="play2" name="play2">
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissor">scissor</option>
    </select>
  </div>
  <div class="form-group">
    <label for="numRounds">Best of how many?</label>
    <input type="number" name="numRounds" id="numRounds">
  </div>
  <button type="submit">Click!</button>
</form>
